@font-face {
    font-family: norse-bold;
    src: url("https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf");
  }
body{
    display: flex;
}
.content{
    display: flex;
    flex-direction: column;
}
.showcase img{
    height: 100vh;
}
.showcase{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.credit{
    position:absolute;
    color: white;
    bottom: 10px;
    font-weight: lighter;
    font-size:15px;
}
.logo_container{
    height: 20vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.447);
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    top: 150px;
    color: white;
    font-size: 10vh;
    font-family: norse-bold, sans-serif;
}
.logo_container img{
    height: 15vh;
    width: auto;
}
.header{
    display:flex;
    flex-direction: column;
}
.text1{
    font-size:26px;
    font-weight: bolder;
    font-family: sans-serif;
    margin: 50px;
}
.text2{
    font-size:26px;
    font-weight: bolder;
    font-family: sans-serif;
    margin: 50px;
    margin-top: 0px;
}
.form{
    margin:50px;
    margin-top: 0px;
    margin-bottom:0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
form{
    display:flex;
}
.info{
    display: flex;
    flex-wrap: wrap;
}
.form_header{
    font-size:26px;
    font-weight: bolder;
    font-family: sans-serif;
    margin-bottom:5px;
}
.have_account{
    margin-left:50px;
    margin-top:15px;
}
.field{
    display:flex;
    flex-direction: column;
    width: 300px;
    padding-right:20px;
    padding-top:20px;
    padding-bottom:10px;
    font-family: sans-serif;
}
label{
    width:300px;
    padding: 2px;
    font-size: 18px;
}
input{
    width:200px;
    height:25px;
    font-size: 18px;
    border-color: #E5E7EB;
}
.submit_button{
    width: 200px;
    height:40px;
    justify-content: center;
    margin-top:20px;
    background-color: #596D48;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
}
.submit_button:active{
    background-color: #2d3a22;
    box-shadow: 0 5px gray;
    transform: translateY(2px);

}
input:invalid {
    border-color: red;
  }
input:focus{
    border-color: blue;
    box-shadow: 2px 2px 2px black;
}
.have_account span{
    color: #596D48
}