@font-face {
    font-family: norse-bold;
    src: url("https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf");
  }
body{
    display: flex;
}
.content{
    display: flex;
    flex-direction: column;
}
.showcase img{
    height: 100vh;
}
.showcase{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_container{
    height: 20vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.447);
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    top: 150px;
    color: white;
    font-size: 10vh;
    font-family: norse-bold, sans-serif;
}
.logo_container img{
    height: 15vh;
    width: auto;
}
.header{
    display:flex;
    flex-direction: column;
}
.text1{
    font-size:26px;
    font-weight: bolder;
    font-family: sans-serif;
    margin: 50px;
    margin-top: 150px;
}
.text2{
    font-size:26px;
    font-weight: bolder;
    font-family: sans-serif;
    margin: 50px;
    margin-top: 0px;
}
.form{
    margin:50px;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
form{
    display:flex;
}
.info{
    display: flex;
    flex-wrap: wrap;
}
.form_header{
    font-size:26px;
    font-weight: bolder;
    font-family: sans-serif;
    margin-bottom:20px;
}
.have_account{
    margin:50px; 
}
.field{
    display:flex;
    flex-direction: column;
    width: 300px;
}
label{
    width:300px;
}
input{
    width:300px;
}