@font-face {
    font-family: norse-bold;
    src: url("https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf");
  }
body{
    display: flex;
}
.content{
    display: flex;
    flex-direction: column;
}
.showcase img{
    height: 100vh;
}
.showcase{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_container{
    height: 20vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.447);
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    top: 150px;
    color: white;
    font-size: 10vh;
    font-family: norse-bold, sans-serif;
}
.logo_container img{
    height: 15vh;
    width: auto;
}